<!-- links to github projects -->

<div>
  <a href="https://github.com/amurphy181/MakeChangeProject" target="_blank">Week 1: Make Change</a><br>
  <a href="https://github.com/amurphy181/JetsProject" target="_blank">Week 2: Jets</a><br>
  <a href="https://github.com/amurphy181/BlackjackProject" target="_blank">Week 3: Blackjack</a><br>
  <a href="https://github.com/amurphy181/FilmQueryProject" target="_blank">Week 6: Film Query Project</a><br>
  <a href="https://github.com/amurphy181/SpringMVCFilmCRUD" target="_blank">Week 7: Film Spring MVC</a><br>
  <a href="https://github.com/amurphy181/JPACRUDProject" target="_blank">Week 8: Film Query Project</a><br>
  <a href="https://github.com/amurphy181/MidtermDesolateTranquility" target="_blank">Midterm: Who's Playing? GitHub</a><br>
  <a href="http://18.188.17.166:8080/MVCDesolateMidterm/" target="_blank">Midterm: Who's Playing? Proper Site</a><br>
</div>
